# LLM OpenAPI Compatibility Configuration
export LLM_BASE_URL="https://your-llm-base-url"
export LLM_API_KEY="your-llm-token"
export LLM_HIGH="claude-opus-4.6"
export LLM_MEDIUM="gpt-5.4"
export LLM_LOW="gpt-5.3-codex"

# Cloudflare
export CF_ACCOUNT_ID="your-cloudflare-account-id"
export CF_API_KEY="your-cloudflare-api-token"

# GitHub
export GH_TOKEN="your-github-token"

# SSH Configuration for proxmox server
export SSH_HOST="your-ssh-host:port"
export SSH_USERNAME="your-ssh-username"
export SSH_KEY='-----BEGIN RSA PRIVATE KEY-----
your-ssh-private-key
-----END RSA PRIVATE KEY-----'

# Sealed Secrets Configuration for kubernetes
export SEALED_SECRET_KEY='-----BEGIN PRIVATE KEY-----
your-sealed-secrets-private-key
-----END PRIVATE KEY-----'
